.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: linear-gradient(to right, #6a11cb, #ff0080);
  padding: 20px;
  margin-top: 170px;
}

.subscribe-box {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 450px;
  color: white;
}

.subscribe-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subscribe-text {
  font-size: 1rem;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscribe-input {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  text-align: center;
  outline: none;
  color: #333;
}

.subscribe-button {
  background: white;
  color: #6a11cb;
  font-size: 1rem;
  padding: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.subscribe-button:hover {
  background: #ff0080;
  color: white;
  transform: scale(1.05);
}
